# 디폴트 무시된 파일
/shelf/
/workspace.xml
# Rider에서 무시된 파일
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.CrazyBingo.iml
/modules.xml
# 에디터 기반 HTTP 클라이언트 요청
/httpRequests/
/Saved/
/Intermediate/
/DerivedDataCache/
/Binaries/


/Content/ModernFlatGUIPack/
/Content/Developers/
/Content/Collections/
/Content/IdaFaber/
/Content/DragonVFX/
/Content/Explosions_W3Vol1/
/Content/Frank_Slash_Pack/
/Content/FXVarietyPack/
/Content/Stylized_VFX_StPack/
/Content/MonsterSwarmSurvivorPBR/
/Content/RPGMonsterWave3PBR/
/Content/ProjectilesVol1/
/Content/ProjectilesVol2/
/Content/SpectraFXBundle/
/Content/Shooter_VFXPack/
/Content/CharacterAuras/
/Content/Characters/
/Content/Characters/Mannequins/
/Content/Characters/Heroes/

/Content/FreeMeleeWeaps/
/Content/__ExternalActors__/
/Content/__ExternalObjects__/

/Plugin/



